
main{
    background-color: rgb(238, 228, 220);
    height: 270px;
    width: 420px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;   
}

div {
    background-color: rgb(149, 179, 149);
    height: 80px;
    width: 400px;
    color: rgb(30, 43, 34);
    text-align: center;
    font-size: 18pt;
    font-family: courier;
    padding:0px;
    border-radius: 15px 15px 0px 0px;
    

}

h2{
    background-color:  rgb(149, 179, 149);
    height: 40px;
    width: 400px;
    color: rgb(30, 43, 34);
    font-family: courier;
    text-align: center;
    margin: 0%;
}
section {
    background-color: white;
    height: 80px;
    width: 400px;
    font-family: courier;
    text-align: center;
    
}

footer {
    background-color: rgb(149, 179, 149);
    height: 50px;
    width: 400px;
    border-radius: 0px 0px 15px 15px;
    
}


 
    
 